/* Small Screen */
.container {
  background-color: #480CA8;
  padding: 1rem;
  color: white;
}

.navbar__title {
  margin-bottom: 1rem;
}

.navbar__list {
  list-style: none;
}

.navbar__item {
  margin-bottom: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
}

/* Medium Screen */
@media(min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__title {
    margin-bottom: 0;
  }
  
  .navbar__list {
    display: flex;
    flex-direction: row;
  }

  .navbar__item {
    margin: 0 1rem;
  }
}
